<!DOCTYPE html>
<html <%- locals.helmet.htmlAttributes.toString() %>>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <%- locals.helmet.title.toString() %>
        <%- locals.helmet.meta.toString() %>
        <%- locals.helmet.link.toString() %>
        <% if (locals.config.production) { %>
            <link rel="stylesheet" href="/style.css" />
        <% } %>
        <% if (locals.analyticsHost) { %>
            <script defer data-domain="<%= locals.config.domain %>" src="http://<%= locals.analyticsHost %>/js/plausible.js"></script>
        <% } %>
    </head>
    <body <%- locals.helmet.bodyAttributes.toString() %>>
        <div id="app"><%- locals.body %></div>
        <% if (locals.config.production) { %>
            <script src="/webapp.es.js"></script>
        <% } else { %>
            <script type="module" src="/src/web/entry.client.tsx"></script>
        <% } %>
    </body>
</html>